@font-face {
    font-family: muso;
    src:url(/assets/font.woff2) format('woff2');
}
body {
    background: darkgreen;
    margin: 0;
    padding: 0;
}

.camera {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.camera iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
.camera .logos .logos-left,
.camera .logos .logos-right {
    position: absolute;
    top: 30px;
}
.camera .logos .logos-left {
    left: 30px;
}
.camera .logos img {
    max-height: 100px;
}
.camera .logos .logos-left img {
    margin-right: 30px;
    float: left;
}
.camera .logos .logos-right {
    right: 30px;
}
.camera .logos .logos-right img {
    margin-left: 30px;
    float: right;
}
.camera .scores {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.camera .scores .opponents {
    display: flex;
    justify-content: center;
    height: 50px;
    font-size: 28px;
    align-items: center;
    flex-direction: row;
    color: #FFF;
    line-height: 0;
    background: linear-gradient( #b44728, #4f220f);
    font-family: muso;
}
.camera .scores .opponents .opponent {
    display: flex;
}
.camera .scores .opponents .opponent:nth-of-type(1) .name {
    padding-right: 30px;
}
.camera .scores .opponents .opponent:nth-of-type(2) .name {
    padding-left: 30px;
}
.camera .scores .opponents .opponent .name {
    align-self: center;
    padding: 10px;
    font-size: 28px;
}
.camera .scores .opponents .opponent .score {
    align-self: center;
    padding: 10px;
    font-weight: bold;
    font-size: 36px;
}
.camera .scores .opponents .opponent .flag {
      width: 40px;
      height: 40px;
      margin: 4px;
      border-radius: 30px;
}
.camera .scores .opponents .opponent .flag-1 {
    position: absolute;
    left: 0;
    bottom: 0;
}
.camera .scores .opponents .opponent .flag-2 {
    position: absolute;
    right: 0;
    bottom: 0;
}
.camera .scores .tableinfo {
    font-size: 20px;
    color: #FFF;
    background-color: #000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.camera .scores .tableinfo .element {
    padding: 0 4px;
}
.camera .scores .tableinfo .element-middle {
    margin-left: -7px;
}
