@font-face {
    font-family: muso;
    src:url(/assets/font.woff2) format('woff2');
}
body {
    background: darkgreen;
    margin: 0;
    padding: 0;
}

.visibility--hidden {
    visibility: hidden;
}

.camera {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.camera iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
.camera .logos .logos-right {
    position: absolute;
    top: 30px;
}
.camera .logos .logos-left {
    position: absolute;
    bottom: 0;
}
.camera .logos .logos-left.with-scores {
    bottom: 70px;
}
.camera .logos .logos-left {
    left: 30px;
}
.camera .logos img {
    max-height: 100px;
}
.camera .logos .logos-left img {
    margin-bottom: 30px;
    display: block;
}
.camera .logos .logos-right {
    right: 30px;
}
.camera .logos .logos-right img {
    margin-left: 30px;
    float: right;
}
.camera .scores {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.camera .scores .tableInfo {
    font-size: 20px;
    color: #FFF;
    background-color: #000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.camera .scores .tableInfo .element {
    width:  33%;
    padding: 0 4px;
    flex-grow: 1;
}
.camera .scores .tableInfo .element-middle {
    flex-grow: 2;
    text-align: center;
}
.camera .scores .tableInfo .element-start {
}
.camera .scores .tableInfo .element-end {
    text-align: right;
}
.camera .scores .opponents {
    display: flex;
    height: 50px;
    font-size: 28px;
    color: #FFF;
    line-height: 0;
    background: linear-gradient( #b44728, #4f220f);
    font-family: muso;
}
.camera .scores .opponents .opponent:nth-of-type(1) {
    text-align: right;
}
.camera .scores .opponents .opponent {
    display: flex;
    flex-grow: 2;
    width: 100%;
    padding: 5px 10px;
    justify-content: space-between;
}
.camera .scores .opponents .opponent .name {
    align-self: center;
}
.camera .scores .opponents .opponent .flag {
    width: 30px;
    height: 30px;
    margin: 4px;
    border-radius: 30px;
}
.camera .scores .opponents .score {
    display: flex;
    flex-grow: 1;
    padding: 5px 10px;
    align-self: center;
    font-weight: bold;
    font-size: 36px;
}
.camera .scores .opponents .score .opponent-1 {}
.camera .scores .opponents .score .break {
    margin: 0 8px;
}
.camera .scores .opponents .score .opponent-2 {}
